<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @status.ime %>
</p>

<p>
  <strong>Stanje:</strong>
  <%= @status.stanje %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
